*weight*
*checkpoint*
*pycache*
*DS_Store*
*.idea*
blockdrop/cv/
data
*train_log.log
dynconv/exp
dynconv/plot
*feature_analysis*
dynconv/random_mask/
dynconv/random_mask_sample/
dynconv/sample/
FBS/exp
*tb*
*tmp*
